{% load nvd3_tags static compress wagtailcore_tags %}
<head>
    {% include_chart_jscss %}
</head>
<body>
    <div class="{{ data.chartcontainer }}"><svg></svg></div>
<script>
var data = [{"values":  {{ data.chartdata | safe }} }]

if ('{{ data.charttype }}' === 'pie') {
    var datum = data[0].values;
} else {
    var datum = data;
}

nv.addGraph(function() {
    var chart = nv.models.{{ data.charttype}}Chart()
        .x(function(d) { return d.label })
        .y(function(d) { return d.value })

    var width = d3.select('.{{ data.chartcontainer }}').node().getBoundingClientRect().width
    var height = d3.select('.{{ data.chartcontainer }}').node().getBoundingClientRect().height

    if ('{{ data.charttype }}' === 'pie') {
        chart.tooltipContent(function(key, y, e, graph) {
            var x = String(key);
            var y =  String(y.slice(0,2));
            tooltip_str = '<center><b>'+y+'%</b></center>' + x;
            return tooltip_str;
        });

        chart.showLegend(false)
            .showLabels(false)
            .donut(true)
            .donutRatio(0.35)
    } else {
        chart.showValues(true)
            .showControls(false)
            .stacked(true)
    }



    d3.select('.{{ data.chartcontainer }} svg')
        .attr("width", '100%')
        .attr("height", '100%')
        .attr('viewBox','0 0 '+width+' '+height)
        .attr('preserveAspectRatio','xMinYMin')
        .attr("transform", "translate(" + Math.min(width,height) / 2 + "," + Math.min(width,height) / 2 + ")")
        .datum(datum)
        .transition().duration(500)
        .call(chart);

    return chart;
});
</script>
</body>