<body>
<style>
#piechart_container{{data.id}} svg {
    height: 350px;
    width: 100%;
}
#barchart_container{{data.id}} svg {
    height: 300px;
    width: 100%;
}
</style>
    <div id="{{ data.chartcontainer }}">
        <svg></svg>
        {% if data.charttype == 'pie' %}
            <div class="pie-legend">
                {% for entry in data.chartdata|dictsortreversed:"value"  %}
                  <div class="{{ entry.value }}">
                    <i class="fa fa-circle {{ forloop.counter0 }}"
                       aria-hidden="true"
                       >
                    </i>
                    {{ entry.label }}
                  </div></br>
                {% endfor %}
            </div>
        {% endif %}
    </div>
<script>
var dataSlug = '{{ request.path | safe }}';
var dataViz = {{ data | safe}};
if (typeof vizArray == "undefined" || !(vizArray instanceof Array)) {
    var vizArray = [dataViz];
} else {
    vizArray.push(dataViz);
}
</script>
</body>
