{% load static compress wagtailcore_tags %}
<body onload="sizeChange()">

<script src="{% static 'd3/d3.min.js' %}"></script>
<script src="{% static 'topojson/topojson.js' %}"></script>

<script>
d3.select(window)
    .on("resize", sizeChange);

var svg = d3.select(".map-viz")
    .append("svg")
    .attr("width", "100%")

var tooltip = d3.select(".map-viz")
    .append("div")
    .attr("class", "hidden tooltip");

d3.json("{% static 'js/school_district_topo.json' %}", function(error, or) {
    var districts = topojson.feature(or, or.objects.school_district_geo).features,
        ids = {{ data.data_values }}

    var projection = d3.geo.mercator()
        .center([-120.5, 43.8])
        .scale(5000)

    var path = d3.geo.path()
        .projection(projection)

    svg.append("g")
        .attr("class", "school_district_geo")
        .selectAll("path")
            .data(districts)  
            .enter()
            .append("path")
            .attr("d", path)

            .style("fill", function(d) { 
                if (ids.indexOf(d.properties.ET_UID) > -1) { return "red" }
            })

            .on('mouseover', function(d) {
                var mouse = d3.mouse(svg.node()).map(function(d) {
                    return parseInt(d);
                });
                tooltip.classed('hidden', false)
                    .style('left',(d3.event.pageX - 35) + 'px')
                    .style('top', (d3.event.pageY - 30) + 'px')
                    .html(d.properties.SCHOOL_DIS);
            })
            .on('mouseout', function() {
                tooltip.classed('hidden', true);
            });
});

function sizeChange() {
    d3.select("g").attr("transform", "scale(" + $(".map-viz").width()/900 + ")");
    $("svg").height($(".map-viz").width()*0.618);
}

</script>
</body>