@import 'css/assets/variables.scss';
@import 'css/assets/keyframes.scss';
@import 'css/assets/core.scss';
@import 'css/assets/wagtail_overrides.scss';
@import 'css/assets/header.scss';

@import 'bootstrap-sass/assets/stylesheets/_bootstrap-sprockets.scss';
@import 'bootstrap-sass/assets/stylesheets/_bootstrap.scss';

@import 'fullpage.js/jquery.fullPage.scss';
@import 'css/assets/fullpagejs_overrides.scss';