{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-datapage{% endblock %}

{% block content %}
  <p>
  {% for ancestor in self.get_ancestors %}
    {% if not ancestor.title == 'Root' %}
      <a href="{% for grandcestor in ancestor.get_ancestors %}{% if forloop.first %}/{% endif %}{% if not grandcestor.title == 'Root' %}{% if not grandcestor.content_type.name == 'home page' %}{{ grandcestor.slug }}/{% endif %}{% endif %}{% endfor %}{% if not ancestor.content_type.name == 'home page' %}{{ ancestor.slug }}{% endif %}">
        {% if ancestor.content_type.name == 'home page'%}Home{% else %}{{ ancestor.title }}{% endif %}
      </a>
      {% if not forloop.last %}
        >
      {% endif %}
    {% endif %}
  {% endfor %}
  </p>

  {{ page.displayTitle|richtext }}

  {{ page.sub_title|richtext }}

  {{ page.main_content|richtext }}

  {% image page.image min-50x50 %}

  <h2>Sectors</h2>
  <ul>
  {% for sector in self.get_children %}
    {% if sector.content_type.name == "sector" %}
    <li><a href="/{{ self.slug }}/{{ sector.slug }}">{{ sector.title }}</a></li>
    <ul>
    {% for outcome in sector.get_children %}
      <li><a href="/{{ self.slug }}/{{ sector.slug }}/{{ outcome.slug }}">{{ outcome.title }}</a></li>
      <ul>
      {% for indicator in outcome.get_children %}
        <li><a href="/{{ self.slug }}/{{ sector.slug }}/{{ outcome.slug }}/{{ indicator.slug }}">{{ indicator.title }}</a></li>
        <ul>
          <li>MEASURES:</li>
          <ul>
          {% for measure in indicator.get_children %}
            {% if measure.content_type.name == "Core Measure"  %}
              <li><a href="/{{ self.slug }}/{{ sector.slug }}/{{ outcome.slug }}/{{ indicator.slug }}/{{ measure.slug }}">{{ measure.title }}</a></li>
            {% endif %}
          {% endfor %}
          </ul>
          <li>RECOMMENDATIONS:</li>
          <ul>
          {% for recommendation in indicator.get_children %}
            {% if recommendation.content_type.name == "Recommendation" %}
            <li><a href="/{{ self.slug }}/{{ sector.slug }}/{{ outcome.slug }}/{{ indicator.slug }}/{{ recommendation.slug }}">{{ recommendation.title }}</a></li>
            {% endif %}
          {% endfor %}
          </ul>
        </ul>
      {% endfor %}
      </ul>
    {% endfor %}
    </ul>
  {% endif %}
  {% endfor %}
  </ul>
{% endblock %}
