<div class="row">
    {% for sector in sectors %}
    <div class="col-sm-6 col-lg-3">
        <h3>{{ sector.title }}</h3>
        {% for outcome in outcomes %}
            {% if sector.pk == outcome.get_parent.pk %}
                <h4>{{ outcome.title }}</h4>
                {% for indicator in indicators %}
                    {% if outcome.pk == indicator.get_parent.pk %}
                        <h5>{{ indicator.title }}</h5>
                        {% for measure in measures %}
                            {% if indicator.pk == measure.pk %}
                                <li>{{ measure.title }}</li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>