{% load wagtailcore_tags %}
<div class="row">
    {% for sector in sectors %}
    <div class="text-center title">
        {{ sector.title | richtext }}
        <img class="img-responsive center-block" src="/media/original_images/about_{{ sector.display_title | striptags | lower }}.png" />

        {% for outcome in outcomes %}
            {% if sector.pk == outcome.get_parent.pk %}
            <div class="outcome-wrapper">
                <div class="outcome-border">
                    <span class="tax-title {{ sector.slug }}">PRIORITY OUTCOME</span>
                    {{ outcome.display_title | richtext }}
                </div>
            </div>
            

                {% for indicator in indicators %}
                    {% if outcome.pk == indicator.get_parent.pk %}
                    <div class="indicator-wrapper">
                        <span class="tax-title {{ sector.slug }}">INDICATOR</span>
                            {{ indicator.display_title | richtext }}
                    </div>
                        
                        <div class="measures-wrapper">
                        {% for measure in measures %}
                            {% if indicator.pk == measure.get_parent.pk %}
                            <div class="measure-wrapper">
                                <span class="tax-title {{ sector.slug }}">MEASURE</span>
                                <a href="{{ sector.url }}#{{ measure.slug }}">
                                    {{ measure.display_title | richtext }}
                                </a>
                                <hr class="vertical-line" width="2" size="550">
                            </div>
                            {% endif %}
                        {% endfor %}
                        </div>

                    {% endif %}
                {% endfor %}

            {% endif %}
        {% endfor %}

    </div>
    {% endfor %}
</div>
