{% load wagtailcore_tags %}
<div class="row flex-row">
    {% for sector in sectors %}
    <div class="col-sm-6 col-lg-3">
        {{ sector.display_title | richtext }}

        {% for outcome in outcomes %}
            {% if sector.pk == outcome.get_parent.pk %}
                {{ outcome.display_title | richtext }}

                {% for indicator in indicators %}
                    {% if outcome.pk == indicator.get_parent.pk %}
                        {{ indicator.display_title | richtext }}

                        <ol>
                        {% for measure in measures %}
                            {% if indicator.pk == measure.get_parent.pk %}
                                <li>{{ measure.display_title | richtext }}</li>
                            {% endif %}
                        {% endfor %}
                        </ol>

                    {% endif %}
                {% endfor %}

            {% endif %}
        {% endfor %}

    </div>
    {% endfor %}
</div>
