{% load wagtailcore_tags wagtailimages_tags menu_tag %}
{% footer_text as text %}
{% secondary_footer as second %}

<footer id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="logos col col-sm-3">
                <div class="text-center">
                    <a href="http://www.farmtoschool.org/our-network/Oregon">
                        <img class="img-responsive no-retina" src="/media/original_images/ofssgn_logo.png" data-no-retina />
                    </a>
                    <a href="http://www.ecotrust.org">
                        <img class="img-responsive no-retina ecotrust" src="/media/original_images/ecotrust_logo_color.png" data-no-retina />
                    </a>
                </div>
            </div>
            <div class="info col col-sm-6">
                <div class="header-title">{{ text.header }}</div>
                {{ text.content | richtext }}
            </div>
            <div class="second-info col col-sm-3">
                <div class="header-title">{{ second.header }}</div>
                {{ second.content | richtext }}
            </div>
        </div>
    </div>
</footer>
