{% load wagtailcore_tags wagtailimages_tags %}
<div class="container-fluid">
    <header id="header">
        <div class="navbar navbar-inverse navbar-fixed-top" role="banner">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars fa-one-half"></i>
                    </button>

                    <a class="navbar-brand" href="/">
                        <img class="img-responsive" src="{{ navbar_logo }}" />
                    </a>

                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                    {% for menu in menus %}
                        <li class="main-nav{% if menu.url.url == request.path %} active{% endif %}"> <a href="{{ menu.url.url }}" class="smoothScroll"><span>{{ menu.title }}</span></a></li>
                    {% endfor %}
                    <li class="main-nav search"><a href="#" class="fa fa-search fa-one-half"></a></li>
                    <!-- search form -->
                    <span class="search-nav">
                        <form class="navbar-form" role="search" action="{% url 'search' %}" method="get">
                            <div class="field-toggle">
                                <input type="text" class="form-control search-form" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
                            </div>
                        </form>
                    </span>
                   <!--  end search form -->
                    </ul>
                </div>
            </div>
        </div>
    </header>
<!--/#header-->
</div>
