{% load static wagtailcore_tags wagtailimages_tags %}
<div class="sector-title {{ self.sector }}">
    {% if self.sector == 'data-gaps' %}
        DATA GAPS
    {% else %}
        {{ self.sector|upper }}
    {% endif %}
</div>
<div class="top-story {{  self.sector }}">
    <div class="main-content">
        {{ value.content }}
    </div>
    <div class="outer text-center">
        <div class="sector-link">
            <a href="/{{ self.sector }}">
                <span class="link-text">{{ self.link_caption }} <i class="fa fa-one-quarter fa-arrow-circle-right"></i></span>
            </a>
        </div>
        <div class="ts-source">
            <div class="ts-source-full"> {{ self.source }}</div>
            <span>SOURCE</span>
        </div>

    </div>
</div>
