<div class="text-center economic-calculator">
  <div class="row row-eq-height">
    <div class="calc col-md-6 col-sm-6">
      <div id="calculator">
        <div class="top">
          <input type="number" id="inputCalc" placeholder="Enter local food spending here"/>
        </div>
        
        <div class="keys">
          <div class="calculate-btn">CALCULATE</div>
          <span>  </span>
          <span>  </span>
          <span>  </span>
          <span>  </span>
        </div>
      </div>
    </div>
    <div class="calc col-md-6 col-sm-6">
      <div class="result-container">
        <div id="calcResult"></div>
        <div id="calcResult-text">generated for the local economy</div>
      </div>
    </div>
  </div>
</div>