<div class="text-center economic-calculator">
    <div class="calc">
      <div class="result-container">
        <div id="calcResult"></div>
        <div id="calcResult-text">generated for the local economy</div>
      </div>
    </div>
    <div class="calc">
      <div id="calculator">
        <div class="top">
          <input type="number" id="inputCalc" placeholder="Enter your dollars spent on local food here"/>
        </div>

        <div class="keys">
          <div class="calculate-btn">CALCULATE</div>
          <span id='7'> 7 </span>
          <span id='8'> 8 </span>
          <span id='9' class="last"> 9 </span>
          <span id='4'> 4 </span>
          <span id='5'> 5 </span>
          <span id='6' class="last"> 6 </span>
          <span id='1'> 1 </span>
          <span id='2'> 2 </span>
          <span id='3' class="last"> 3 </span>
          <span id='0'> 0 </span>
          <span class="blank">  </span>
          <span id='del' class="clear last"> DEL </span>

        </div>
      </div>
    </div>
</div>
