{% load wagtailcore_tags wagtailimages_tags %}

{% if blocks %}
    {% for block in blocks %}
    <section class="section sec-{{ forloop.counter }}">
        <div class="container-fluid">
            {% if section_title %}
                <div class="sector-title">{{ section_title | richtext }}</div>
            {% endif %}
            {{ block }}
        </div>

        {% if forloop.first and request.path != '/data-gaps/'  %}
            <img class="moveDown img-responsive" src="/static/css/about_arrow.png"></i>
        {% endif %}
        {% if forloop.counter == 2 and request.path == "/" %}
            <div class="row four-circle">
                {% with 'health education economy environment' as sectors %}
                 {% for sector in sectors.split %}
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a class="circle-{{ sector }}">
                            <img class="img-responsive margin-auto" src="media/original_images/{{ sector }}_circle.png">
                            <div class="text-center"> {{ sector|upper }} </div>
                        </a>
                    </div>
                 {% endfor %}
                {% endwith %}
            </div>
        {% endif %}
        {% if request.path == '/economy/' and forloop.counter == 1 %}
            {% include "includes/economic_calculator.html" %}
        {% endif %}
    </section>
    {% endfor %}
{% endif %}
