{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


{% block body_class %}template-datapage{% endblock %}

{% block content %}
<div class="body-content {{ page.slug }}">
    {% include "includes/streamfield_blocks.html" with blocks=page.body_content section_title=page.display_title %}
</div>

<div class="data-viz-container {{ page.slug }} container-fluid">
  {% for child in self.get_children %}
    {% for grandchild in child.get_children %}
      <div class="outcome-text">
        {{ child.priorityoutcome.display_title | richtext }}
      </div>
      <div class="indicator-text">
        {{ grandchild.indicator.display_title | richtext  }}
      </div>
        {% for measure in grandchild.get_children %}
          {% if measure.coremeasure  %}
              {% for viz in measure.coremeasure.related_data.all %}
                {% with data=viz.data_object %}
                <div class="{{viz.data_viz_type}}-viz viz">
                  <div id="{{ measure.slug }}" class="measure-text">
                    {{ measure.coremeasure.display_title | richtext }}
                  </div>
                  {% if viz.data_viz_type == 'pie' or viz.data_viz_type == 'bar' %}
                    {% include 'data/chart.html' %}
                  {% elif viz.data_viz_type == 'map' %}
                    {% include 'data/map.html' %}
                  {% elif viz.data_viz_type == 'number' %}
                    {% include 'data/number.html' %}  
                  {% elif viz.data_viz_type == 'link' %}
                    {% include 'data/link.html' %}  
                  {% endif %}
                </div>
                {% endwith %}
              {% endfor %}
          {% endif %}
        {% endfor %}
    {% endfor %}
  {% endfor %}
</div>
{% endblock %}
