{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-datapage{% endblock %}

{% block content %}
<div class="body-content {{ page.slug }}">
    {% include "includes/streamfield_blocks.html" with blocks=page.body_content section_title=page.display_title %}
</div>

  {% for outcome in self.get_children %}
    {% for indicator in outcome.get_children %}
      <div>PO {{ outcome.title }}</div>
      <div>Ind {{ indicator.title }}</div>
        {% for measure in indicator.get_children %}
          {% if measure.content_type.name == "Core Measure"  %}
            <div id="{{ measure.slug }}">ME {{ measure.title }}</div>
          {% endif %}
        {% endfor %}
    {% endfor %}
  {% endfor %}
{% endblock %}
