{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
<head>{% include_chart_jscss %}</head>

{% block body_class %}template-datapage{% endblock %}

{% block content %}
<div class="body-content {{ page.slug }}">
    {% include "includes/streamfield_blocks.html" with blocks=page.body_content section_title=page.display_title %}
</div>

  {% for child in self.get_children %}
    {% for grandchild in child.get_children %}
      <div>PO {{ child.priorityoutcome.display_title | richtext }}</div>
      <div>Ind {{ grandchild.indicator.display_title | richtext  }}</div>
        {% for measure in grandchild.get_children %}
          {% if measure.coremeasure  %}
            <div id="{{ measure.slug }}">ME {{ measure.coremeasure.display_title | richtext }}</div>
              {% for viz in measure.coremeasure.related_data.all %}
                {% if viz.data_viz_type == 'pie' %}
                  {% include 'data/piechart.html' with data=viz.data_object %}
                {% endif %}
              {% endfor %}
          {% endif %}
        {% endfor %}
    {% endfor %}
  {% endfor %}
{% endblock %}
