/* about-page core styles */
body.template-about {
    .about-content {
        margin-top: 30px;
        background-color: $light-grey;
        color: $black;

        .rich-text {
            h2, h3 {
                font-family: $arbutus-slab;
                font-size: pt-px(35);
                line-height: line-spacing(35, 40);
                margin-bottom: 30px;
            }

            h2 > b, h2 {
                font-weight: 400;
            }

            p.no-text-row {
                -webkit-column-count: auto;
                -moz-column-count: auto;
                column-count: auto;
            }

            p {
                font-family: $arbutus-slab;
                font-size: pt-px(13);
                line-height: line-spacing(13, 20);
                -webkit-column-count: 2;
                -moz-column-count: 2;
                column-count: 2;
                -webkit-column-gap: 35px;
                -moz-column-gap: 35px;
                column-gap: 35px;

                a { 
                    font-family: $lato;
                    font-size: px-pt(14);
                    font-weight: 600;
                    line-height: line-spacing(14, 21);
                    letter-spacing: letter-spacing(50);
                    color: $blue;
                
                }
            }

            .richtext-image.img-responsive.center-block { width: 45%; } 
        }
    }
    
    /** streamfields **/
    .block-basic_content {
        &:first-child { background-image: url("grid_wht.png"); }

        .basic-content { padding: 3em 4em 3em 3em }

    }
    
    /** content_taxonomy.html **/
    .taxonomy {
        .text-center { 
            margin: 0 7em 0 7em; 

             &:not(:first-child) {
                margin-top: 4em;
            }

        }

        .title {
            font-family: $arbutus-slab;
            font-size: pt-px(21);
            font-weight: 600;
            line-height: line-spacing(21, 25); 
            letter-spacing: letter-spacing(25);

            .img-responsive { 
                width: 33%; 
                min-width: 165px;
            }
        }

        .rich-text {
            h2, h3 {
                font-size: pt-px(21);
                line-height: line-spacing(21, 25); 
                letter-spacing: letter-spacing(25);
            }

            h2 { margin-bottom: 20px; }

            h3 { margin: 0;}

        }

        .tax-title {
            font-family: $lato;
            font-size: pt-px(11);
            line-height: line-spacing(11, 16);
            font-weight: 600;

            &.health { color: $yellow; }

            &.education { color: $blue; }

            &.economy { color: $green; }

            &.environment { color: $dark-red; }
        }

        .outcome-wrapper {
            margin: 1.25em 7em 1.25em 7em;

            .outcome-border {
                margin-top: 20px;
                border: 1px solid $white;
                background-color: $white;
                padding: 25px;
            }
        }

        .indicator-wrapper {
            .rich-text {
                h4 { 
                    display: inline-block;
                    font-family: $lato;
                    font-weight: 600;
                    font-size: pt-px(15);
                    line-height: line-spacing(15, 23);
                    letter-spacing: letter-spacing(50);
                    border-bottom: 0.5em solid $white;
                }
            }

            margin: 30px 0 50px 0;
        }

        .measure-wrapper {
            .vertical-line { 
                margin-top: 10px;
                margin-bottom: 10px;
                border-top: 20px solid $darker-grey;  
            }

            .rich-text {
                h5 {
                    font-family: $arbutus-slab;
                    font-size: pt-px(15);
                    line-height: line-spacing(15, 23);
                }
            }

            a { color: $black; }

            a:hover, a:active { color: $blue; }

            
        }
    }

    @media all and (-webkit-min-device-pixel-ratio: 1.5) {
        .block-basic_content {
            &:first-child { background-image: url('grid_wht@2x.png'); }
        }
    }

    @media screen and (max-width: 1150px) {
        .taxonomy {
            .outcome-wrapper { margin: 0 5em 3em 5em; }
        }
    }

    @media screen and (max-width: 900px) {
        .basic-content {
            .rich-text {
                h2 {
                    font-size: 4.2vw;
                    margin-bottom: 25px;
                }

                h3 { font-size: 3.3vw; }

                p { font-size: 1.9vw; }
            }
        }

        .taxonomy {
            .rich-text { 
                h2, h3 { font-size: 3vw; }
            }

            .text-center { 
                margin: 0 4em 0 4em;
                &:not(:first-child) { margin-top: 2.75em; }
            }

            .outcome-wrapper { margin: 0 4em 3em 4em; }

            .indicator-wrapper {
                .rich-text {
                    h4 { font-size: 2.8vw; }
                }
            }

            .measure-wrapper {
                .rich-text {
                    h5 { font-size: 2.3vw; }
                }
            }

            .tax-title { 
                font-size: 14px;
                padding-bottom: 10px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .basic-content {
            .rich-text {
                p { 
                    font-size: 14px;
                    -webkit-column-count: auto;
                    -moz-column-count: auto;
                    column-count: auto;
                }
            }
        }

        .taxonomy {
            .rich-text { 
                h2, h3 { font-size: 3.3vw; }
            }

            .outcome-wrapper { margin: 0 1em 1em 1em; }

            .tax-title { 
                font-size: 12px;
                padding-bottom: 10px;
            }
        }
    }

    @media screen and (max-width: 600px) {
        div.rich-text { font-size: 4.5vw; }
        .taxonomy {
            .outcome-wrapper { 
                margin: 10px; 
                .outcome-border { padding: 15px; }
            }
        } 
    }
        
}

