/* about-page core styles */
body.template-about {
    .about-content {
        background-color: $light-grey;
        color: $black;

        .rich-text {
            h2, h3 {
                font-family: $arbutus-slab;
                color: $black;
                font-size: pt-px(35);
                line-height: line-spacing(35, 40);
                margin-bottom: 30px;
            }

            h2 > b, h2 {
                font-weight: 400;
            }

            p {
                font-family: $arbutus-slab;
                font-size: pt-px(13);
                line-height: line-spacing(13, 20);
                -webkit-column-count: 2;
                -moz-column-count: 2;
                column-count: 2;
                -webkit-column-gap: 35px;
                -moz-column-gap: 35px;
                column-gap: 35px;
            }
        }
    }
    
    /** streamfields **/
    .block-basic_content {
        &:first-child { background-image: url("grid_wht.png"); }

        .basic-content { padding: 3em 4em 3em 3em }

    }
    
    /** content_taxonomy.html **/
    .taxonomy {
        .text-center { 
            margin: 0 7em 0 7em; 

             &:not(:first-child) {
                margin-top: 6em;
            }

        }

        .rich-text {
            h2, h3 {
                font-size: pt-px(20);
                line-height: line-spacing(20, 26); 
            }

            h2 { margin-bottom: 20px; }

            h3 { margin: 0;}

        }

        .tax-title {
            font-family: $lato;
            font-size: pt-px(11);
            line-height: line-spacing(11, 16);
            font-weight: 600;

            &.public-health { color: $yellow; }

            &.education { color: $green; }

            &.community-economic-development { color: $blue; }

            &.environmental-quality { color: $dark-red; }
        }

        .outcome-wrapper {
            margin: 0 7em 3em 7em;

            &:not(:first-child) {
                margin-top: 4em;
            }

            .outcome-border {
                margin-top: 20px;
                border: 1px solid $white;
                background-color: $white;
                padding: 25px;
            }
        }

        .indicator-wrapper {
            .rich-text {
                h4 { 
                    font-family: $lato;
                    font-weight: 600;
                    font-size: pt-px(14);
                    line-height: line-spacing(14, 19);
                }
            }

            margin: 30px 0 50px 0;
        }

        .measure-wrapper {
            .vertical-line { 
                margin-top: 10px;
                margin-bottom: 10px;
                border-top: 25px solid $grey;  
            }

            .rich-text {
                h5 {
                    font-family: $arbutus-slab;
                    font-size: pt-px(13);
                    line-height: line-spacing(13, 20);
                }
            }
        }
        
    }
}

