/*classes*/
.red { color: $red; }
.dark-red {color: $dark-red; }
.orange { color: $orange; }
.blue { color: $blue; }
.white { color: $white; }
.green { color: $green; }
.turquoise { color: $turquoise; }
.brown { color: $brown; }
.off-brown { color: $off-brown; }

.med-reg { font-size: $med-reg; }

.fa-one-quarter { font-size: 1.25em; }
.fa-one-half { font-size: 1.5em; }
.fa-two-half { font-size: 2.5em; }


html { height: 100% }

body {
    background: $white;
    color: $black;
}

.body-content, .about-content {
    width: 100%;
    overflow: hidden;
    clear: both;

    h2, h3, h4, h5, p {
        max-width: 850px;
        margin: 0 auto;
        float: none;
    }

    img {
        margin-bottom: 2%;
        margin-top: 2%;
    }

    img.full-width {
        width: 100%;
    }

    img.left{
        width: 45%;
        margin-right: 5%;
        float: left;
    }

    img.right{
        width: 45%;
        margin-left: 5%;
        float: right;
    }

    img.margin-auto, img.multi {
        margin: auto;
    }

    img.multi.col-md-4 {
        max-width: 475px;
    }

    img.multi.col-sm-4 {
        padding-bottom: 35px;
    }

    h1, h2, h3, h4, h5 {
        clear: both;
    }

    a { text-decoration: none !important;}

}

.row.flex-row {
    display: flex;
    display: flexbox;
    flex-wrap: wrap;
    > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: none;
  background-color: none;
}



