/*classes*/
.red { color: $red; }
.dark-red {color: $dark-red; }
.orange { color: $orange; }
.blue { color: $blue; }
.white { color: $white; }
.green { color: $green; }
.turquoise { color: $turquoise; }
.brown { color: $brown; }
.off-brown { color: $off-brown; }

.med-reg { font-size: $med-reg; }

.fa-one-half { font-size: 1.5em; }
.fa-two-half { font-size: 2.5em; }


body {
    background: $white;
}


/*homepage core styles*/
body.template-homepage {
    .body-content {
        font-family: $arbutus-slab;

        #moveDown {
            position: absolute;
            bottom: 5px;
            left: 50%;
            color: $white;
            cursor: pointer;
            -webkit-animation: bounce 2.75s 2.5s ease-out;
            -moz-animation: bounce 2.75s 2.5s ease-out;
            -o-animation: bounce 2.75s 2.5s ease-out;
            animation: bounce 2.75s 2.5s ease-out;
        }

        section {
            /* extra right padding for nav dots */
            padding: 0 60px 0 35px;

            h2 {
                font-size: calc(0.75em + 4vmin);
                line-height: 1.4;
            }

            .container-fluid { text-align: left; }

            .rich-text {
                p {
                    font-size: calc(0.5em + 1.25vmin);

                    -webkit-column-count: 2;
                    -moz-column-count: 2;
                    column-count: 2;
                    -webkit-column-gap: 35px;
                    -moz-column-gap: 35px;
                    column-gap: 35px;
                }
            }

            .basic-content {
                .rich-text {
                    p.no-text-row {
                        -webkit-column-count: auto;
                        -moz-column-count: auto;
                        column-count: auto;

                        padding-top: 20px;
                    }
                }
            }
        }

        /* sections are number delimited by a counting-loop
        and related to the order in wagtail */
        section.sec-1 {
            background-color: $blue;
            .count-up, .count-attr { color: $white; }
        }
    }
}

.body-content {
    width: 100%;
    overflow: hidden;
    clear: both;
    margin-bottom: 1em;
    img {
        margin-bottom: 2%;
        margin-top: 2%;
    }

    img.full-width {
        width: 100%;
    }

    img.left{
        width: 45%;
        margin-right: 5%;
        float: left;
    }

    img.right{
        width: 45%;
        margin-left: 5%;
        float: right;
    }

    img.margin-auto {
        margin: auto;
    }

    h1, h2, h3, h4, h5 {
        clear: both;
    }
}

.row.flex-row {
    display: flex;
    display: flexbox;
    flex-wrap: wrap;
    > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
}
