body.template-datapage {

    #fp-nav { display: none; }

    .nvtooltip.xy-tooltip {
        color: #222;
        background-color: $white;
        padding: .5em;
        text-shadow: $light-grey 0 1px 0;
        border-radius: 2px;
        opacity: 0.9;
        z-index: 1000;
    }

    footer#footer { border-top: 1px solid $black; }

    .body-content {
        color: $black;


        &.health {
            section.sec-1 {
                background-color: $yellow;
                p, .sector-title { color: $white; }
            }
        }

        &.education {
            section.sec-1 {
                background-color: $grey;
                .sector-title { color: $dark-blue; }
            }
        }

        &.economy {
            section.sec-1 {
                background-color: $green;
                p, .sector-title { color: $white; }
            }
        }

        &.environment {
            section.sec-1 {
                background-color: $tan;
                .sector-title { color: $dark-red; }
            }
        }

        &.data-gaps {
            section.sec-1 {
                background-color: $turquoise;
                .sector-title { color: $white; }
            }

            .rich-text {
                h4 {
                    font-family: $arbutus-slab;
                    font-size: pt-px(20);
                    line-height: line-spacing(20, 26);
                    letter-spacing: letter-spacing(50);
                    color: $white;
                    margin-left: 3em;
                    padding-bottom: 15px;

                    > b {
                        border-bottom: 5px solid $black;
                        font-weight: 500;
                        padding-bottom: 5px;
                    }
                }
                ol {
                    list-style-type: none;
                    counter-reset: li-counter;
                    padding: 40px 0 0 0;
                    margin-left: 7.5em;
                    > li {
                        position: relative;
                        padding: 9px 0 0 45px;
                        margin-bottom: 30px;
                        min-height: 35px;
                        color: $white;
                        font-family: $lato;
                        font-size: pt-px(14);
                        font-weight: 600;
                        line-height: line-spacing(14, 19);
                        letter-spacing: letter-spacing(50);
                        &:before {
                            position: absolute;
                            top: 20%;
                            left: -1.33em;
                            width: 40px;
                            height: 40px;
                            font-family: $arbutus-slab;
                            font-size: pt-px(20);
                            line-height: 2.1;
                            font-weight: 400;
                            text-align: center;
                            color: $black;

                            border-radius: 50%;
                            background-color: $white;
                            content: counter(li-counter);
                            counter-increment: li-counter;
                        }
                    }
                }
            }

        }

        section {
            padding: 0 35px 0 35px;

            h2 {
                font-family: $arbutus-slab;
                font-size: pt-px(42);
                line-height: line-spacing(42, 50);
                margin-top: 10px;

                .color-text {
                    font-family: $lato;
                    font-size: pt-px(42);
                    letter-spacing: letter-spacing(50);
                }
            }

            h2 > b {
                font-weight: 600;
            }

            a { color: $blue; }

            .container-fluid {
                text-align: left;
                padding-top: 35px;
            }

            .rich-text {
                p {
                    font-family: $arbutus-slab;
                    font-size: pt-px(14);
                    line-height: line-spacing(14, 21);
                    -webkit-column-count: 2;
                    -moz-column-count: 2;
                    column-count: 2;
                    -webkit-column-gap: 35px;
                    -moz-column-gap: 35px;
                    column-gap: 35px;
                }
            }

            .basic-content {
                max-width: 850px;
                margin-left: auto;
                margin-right: auto;
                .rich-text {
                    .no-text-row {
                        -webkit-column-count: auto;
                        -moz-column-count: auto;
                        column-count: auto;

                        padding-top: 20px;
                    }
                }
            }

            .sector-title {
                max-width: 850px;
                margin: 0 auto;
                float: none;

                h4,h5 {
                    margin: 0px;
                    font-family: $lato;
                    font-size: pt-px(12);
                    letter-spacing: letter-spacing(100);
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }

        }
    }

    .data-viz-container {
        background-image: url("grid_wht.png");
        color: $black;
        font-family: $lato;
        padding-bottom: 65px;

        &.environment {
            .outcome-text,
            .rich-text > span.count-up,
            span.dollar-sign,
            .yes-wrap { color: $dark-red; }
        }

        &.education {
            .outcome-text,
            .rich-text > span.count-up,
            span.dollar-sign,
            .yes-wrap { color: $dark-blue; }
        }

        &.economy {
            .outcome-text,
            .rich-text > span.count-up,
            span.dollar-sign,
            .yes-wrap { color: $green; }
        }

        &.health {
            .outcome-text,
            .rich-text > span.count-up,
            span.dollar-sign,
            .yes-wrap { color: $yellow; }
        }

        .outcome-wrap, .outcome-text, .indicator-text, .measure-text {
            max-width: 850px;
        }

        .outcome-wrap:first-of-type { padding-top: 35px; }

         .outcome-wrap, .outcome-text, .indicator-text {
            margin-left: auto;
            margin-right: auto;
        }

        .measure-text { margin-left: 4.5em; }

        .outcome-text {
            h2, h3, h4, h5, p {
                text-transform: uppercase;
                font-size: pt-px(12);
                line-height: line-spacing(12, 18);
                letter-spacing: letter-spacing(100);
                font-weight: 600;
            }
        }

        .indicator-text {
            h2, h3, h4, h5, p {
                font-size: pt-px(42);
                font-family: $arbutus-slab;
                line-height: line-spacing(42, 50);
                letter-spacing: 1px;
            }
        }

        .viz {
            padding-top: 40px;
            max-width: 850px;
            margin-top: 3em;
            margin-bottom: 3em;
            margin-left: auto;
            margin-right: auto;
            background-color: $white;

            .measure-text {
                margin-right: 1em;
                > .rich-text { text-align: initial;}
                h2, h3, h4, h5, p {
                  font-size: pt-px(20);
                  font-weight: 600;
                  line-height: line-spacing(20, 30);
                  letter-spacing: letter-spacing(30);
                }

                .sector-anchor:before {
                    display: block;
                    content: " ";
                    width: 0;
                    height: $navbar-height + 40px; /* padding-top of viz class */
                    margin-top: -$navbar-height - 40px; /* padding-top of viz class */
                }
            }

            .svg-container {
                display: inline-block;
                position: relative;
                width: 100%;
                vertical-align: top;
                overflow: hidden;
            }

            .svg-content-responsive {
                display: inline-block;
                position: absolute;
                top: 10px;
                left: 0;
            }

            .source-full {
                padding: 12px;
                border: 1px solid $light-grey;
                background-color: $light-grey;
                display: none;
                font-size: pt-px(10);
                font-weight: 600;
                line-height: line-spacing(10, 16);
                letter-spacing: letter-spacing(100);
                max-width: 325px;
                width: auto;
                overflow: hidden;
                margin: 0 0 5px 12px;

                &.inline-block { display: inline-block; }
            }


            .data-attr {
                background-color: $white;
                margin: 0;
                padding: 0 10px 10px 10px;

                .year {
                    float: right;
                    border: 1px solid $light-grey;
                    background-color: $light-grey;

                }

                .source {
                    float: left;
                    cursor: pointer;
                    border: 1px solid $light-grey;
                    background-color: $light-grey;
                    &:hover { color: $blue };
                }

                .year, .source {
                    padding: 8px 12px 8px 12px;
                    font-size: pt-px(10);
                    font-weight: 600;
                    line-height: line-spacing(10, 16);
                    letter-spacing: letter-spacing(100);
                }

            }

            .extra-content {
                max-width: 850px;
                text-align: center;
                padding: 25px 0 15px 0;
                margin: 0 1.5em 0 1.5em;

                .rich-text {
                    font-family: $lato;
                    h2 { font-size: pt-px(20); }
                    h3 { font-size: pt-px(18); }
                    h4 { font-size: pt-px(16); }
                    h5 { font-size: pt-px(14); }
                    p {
                        font-size: pt-px(12);
                        letter-spacing: letter-spacing(100);
                        font-weight: 500;
                        &.no-text-row { padding-top: 20px; }
                    }
                }
            }

        }

        .map-viz {
            .map-tooltip {
                visibility: hidden;
                color: #222;
                background-color: $white;
                padding: .5em;
                text-shadow: $light-grey 0 1px 0;
                border-radius: 2px;
                opacity: 0.9;
                position: absolute;
                z-index: 1000;
                font-family: $arbutus-slab;
                text-transform: capitalize;
            }
            .svg-container { padding-bottom: 60%; }

            svg {
                path {
                  fill: $dark-grey;
                  stroke: $white;
                  stroke-linejoin: round;
                  stroke-linecap: round;
                }

                path.hover { fill: $grey; }
            }
        }

        .pie-viz, .bar-viz {
            .nvd3 {
                .nv-legend-text { font-size: 16px; }
                .nv-series {
                    cursor: auto;
                    pointer-events: none;
                }
            }
        }

        .pie-viz {
            .pie-legend {
                font-family: $arbutus-slab;
                display: table;
                margin-left: auto;
                margin-right: auto;
               > div { float: left; }
            }
            .nv-label {
                text {
                    font-size: pt-px(15);
                    font-weight: 600;
                    font-family: $lato;
                }
            }
        }

        .bar-viz {
            svg {
                .nv-y.nv-axis.nvd3-svg {
                    .nvd3.nv-wrap.nv-axis { display: none; }
                }
                .nv-x.nv-axis.nvd3-svg {
                    line { display: none; }
                    text {
                        font-size: pt-px(12);
                        font-weight: 600;
                        font-family: $lato;
                    }
                }
                .nv-multibarHorizontal {
                    .nv-groups {
                        rect {
                            fill-opacity: 1;
                            &:hover { fill-opacity: 0.75; }
                        }
                        text {
                            font-size: pt-px(15);
                            font-weight: 600;
                            font-family: $lato;
                        }
                    }
                }
            }
        }

        .number-viz {
            > .rich-text {
                text-align: center;
                padding: 10px 0 20px 0;
                margin: 0 1.75em 0 1.75em;
                .count-up, span.dollar-sign {
                    font-size: pt-px(60);
                    font-weight: 600;
                    line-height: line-spacing(60, 72);
                }
            }
        }

        .link-viz {
            .yes-container {
                text-align: center;
                margin: 2.5em 0 2.5em 0;
                .yes-wrap {
                    font-size: pt-px(56);
                    font-weight: 600;
                    font-family: $lato;
                    line-height: line-spacing(65, 75);
                }
                .yes-link-wrap {
                    font-size: pt-px(18);
                    font-weight: 600;
                    font-family: $lato;
                    line-height: line-spacing(18, 26);
                    letter-spacing: letter-spacing(75);
                    margin: 0 3.5em 0 3.5em;

                    a {
                        color: $blue;
                        &:hover, &:active { text-decoration: none; }
                    }
                }
                hr.yes-seperate {
                    width: 80%;
                    border-top: 1px solid $black;
                }
            }
        }
    }
}
