body.template-datapage {

    #fp-nav { display: none; }

    .nvtooltip.xy-tooltip {
        color: #222;
        background-color: $white;
        padding: .5em;
        text-shadow: $light-grey 0 1px 0;
        border-radius: 2px;
        opacity: 0.9;
        z-index: 1000;
    }

    footer#footer { border-top: 1px solid $black; }

    .body-content {
        color: $black;


        &.health {
            section.sec-1 {
                background-color: $yellow;
                p, .sector-title { color: $white; }
            }
        }

        &.education {
            section.sec-1 {
                background-color: $grey;
                .sector-title { color: $dark-blue; }
            }
        }

        &.economy {
            section.sec-1 {
                background-color: $green;
                p, .sector-title { color: $white; }
            }
        }

        &.environment {
            section.sec-1 {
                background-color: $tan;
                .sector-title { color: $dark-red; }
            }
        }

        section {
            padding: 0 35px 0 35px;

            h2 {
                font-family: $arbutus-slab;
                font-size: pt-px(42);
                line-height: line-spacing(42, 50);
                margin-top: 10px;

                .color-text {
                    font-family: $lato;
                    font-size: pt-px(42);
                    letter-spacing: letter-spacing(50);
                }
            }

            h2 > b {
                font-weight: 400;
            }

            a { color: $blue; }

            .container-fluid { text-align: left; }

            .rich-text {
                p {
                    font-family: $arbutus-slab;
                    font-size: pt-px(14);
                    line-height: line-spacing(14, 21);
                    -webkit-column-count: 2;
                    -moz-column-count: 2;
                    column-count: 2;
                    -webkit-column-gap: 35px;
                    -moz-column-gap: 35px;
                    column-gap: 35px;
                }
            }

            .basic-content {
                .rich-text {
                    .no-text-row {
                        -webkit-column-count: auto;
                        -moz-column-count: auto;
                        column-count: auto;

                        padding-top: 20px;
                    }
                }
            }

            .sector-title {
                h4,h5 {
                    margin: 0px;
                    font-family: $lato;
                    font-size: pt-px(12);
                    letter-spacing: letter-spacing(100);
                    font-weight: 600;
                }
            }

        }
    }

    .data-viz-container {
        background-image: url("grid_wht.png");
        color: $black;
        font-family: $lato;

        &.environment {
            .outcome-text, .rich-text > span.count-up, span.dollar-sign { color: $dark-red; }
        }

        &.education {
            .outcome-text, .rich-text > span.count-up, span.dollar-sign { color: $dark-blue; }
        }

        &.economy {
            .outcome-text, .rich-text > span.count-up, span.dollar-sign { color: $green; }
        }

        &.health {
            .outcome-text, .rich-text > span.count-up, span.dollar-sign { color: $dark-blue; }
        }

        .outcome-text, .indicator-text, .measure-text { margin-left: 4.5em; }

        .outcome-text {
            h3 {
                text-transform: uppercase;
                font-size: pt-px(12);
                line-height: line-spacing(12, 18);
                letter-spacing: letter-spacing(100);
                font-weight: 600;
            }
        }

        .indicator-text {
            width: 85%;
            h4 {
                font-size: pt-px(42);
                font-family: $arbutus-slab;
                line-height: line-spacing(42, 50);
                letter-spacing: letter-spacing(50);
            }
        }

        .viz {
            padding-top: 40px;
            margin: 3em 4.5em 3em 4.5em;
            background-color: $white;

            .measure-text {
                margin-right: 1em;
                > .rich-text { text-align: initial;}
                h5 {
                  font-size: pt-px(20);
                  font-weight: 600;
                  line-height: line-spacing(20, 30);
                  letter-spacing: letter-spacing(30);
                }
            }

            .svg-container {
                display: inline-block;
                position: relative;
                width: 100%;
                vertical-align: top;
                overflow: hidden;
            }

            .svg-content-responsive {
                display: inline-block;
                position: absolute;
                top: 10px;
                left: 0;
            }

            .source-full {
                padding: 12px;
                border: 1px solid $light-grey;
                background-color: $light-grey;
                display: none;
                font-size: pt-px(10);
                font-weight: 600;
                line-height: line-spacing(10, 16);
                letter-spacing: letter-spacing(100);
                max-width: 325px;
                width: auto;
                overflow: hidden;
                margin: 0 0 5px 12px;

                &.inline-block { display: inline-block; }
            }


            .data-attr {
                background-color: $white;
                margin: 0;
                padding: 0 10px 10px 10px;

                .year {
                    float: right;
                    padding: 12px;
                    border: 1px solid $light-grey;
                    background-color: $light-grey;

                }

                .source {
                    float: left;
                    cursor: pointer;
                    padding: 12px;
                    border: 1px solid $light-grey;
                    background-color: $light-grey;
                }

                .year, .source {
                    font-size: pt-px(10);
                    font-weight: 600;
                    line-height: line-spacing(10, 16);
                    letter-spacing: letter-spacing(100);
                }

            }

        }

        .map-viz {
            .map-tooltip {
                visibility: hidden;
                color: #222;
                background-color: $white;
                padding: .5em;
                text-shadow: $light-grey 0 1px 0;
                border-radius: 2px;
                opacity: 0.9;
                position: absolute;
                z-index: 1000;
            }
            .svg-container { padding-bottom: 80%; }

            svg {
                path {
                  fill: $dark-grey;
                  stroke: $white;
                  stroke-linejoin: round;
                  stroke-linecap: round;
                }

                path.hover { fill: $grey; }
            }
        }

        .pie-viz, .bar-viz {
            .nvd3 {
                .nv-legend-text { font-size: 16px; }
                .nv-series {
                    cursor: auto;
                    pointer-events: none;
                }
            }
        }

        .pie-viz {
            #piechart_container svg {
                height: 350px;
                width: 100%;
            }
            .pie-legend {
                display: table;
                margin-left: auto;
                margin-right: auto;
               > div { float: left; }
            }
        }

        .bar-viz {
            #barchart_container svg {
                height: 400px;
                width: 100%;
                .nv-y.nv-axis.nvd3-svg {
                    .nvd3.nv-wrap.nv-axis { display: none; }
                }
                .nv-x.nv-axis.nvd3-svg {
                    line { display: none; }
                    text { font-size: 15px; }
                }
                .nv-multibarHorizontal {
                    .nv-groups {
                        rect {
                            fill-opacity: 0.8;
                            &:hover { fill-opacity: 1; }
                        }
                    }
                }
            }
        }

        .number-viz {
            > .rich-text { 
                text-align: center;
                padding: 10px 0 20px 0;
                margin: 0 1.75em 0 1.75em;
                .count-up, span.dollar-sign {
                    font-size: pt-px(60);
                    font-weight: 600;
                    line-height: line-spacing(60, 72);
                } 
            } 
        }
    }
}
