footer#footer {
    background-color: $white;
    color: $black;
    font-weight: 600;

    .container-fluid { padding: 40px 35px 20px 35px; }

    .row {
        margin: 20px 0 10px 0px;

        .header-title {
            font-family: $lato;
            font-size: pt-px(14);
            letter-spacing: letter-spacing(98);
            text-transform: uppercase;
            padding-bottom: 10px;
        }

        .rich-text {
            p {
                font-family: $arbutus-slab;
                font-size: pt-px(12);
                line-height: line-spacing(12, 14);


                a {
                    font-family: $lato;
                    color: $blue;
                    letter-spacing: letter-spacing(48)
                }
            }
        }

        .logos {
            border-right: 1px solid $black;
            max-width: 225px;
            padding-right: 50px;
            img {
                &:first-of-type { padding-bottom: 15px };
                &.ecotrust {
                    max-width: 127px;
                    margin: auto;
                };
                min-width: 155px;
                padding-right: 10px;
            }
        }

        .info {
            padding-left: 50px;
            /*.rich-text { max-width: 450px; }*/
        }

    }

    @media all and (-webkit-min-device-pixel-ratio: 1.5) {
        background-image: url('grid_wht@2x.png');
    }

    @media screen and (max-width: 767px) {
        .row {
            display: table;
            padding: 0 15px 0 15px;

            .logos {
                border-right: none;
                padding-bottom: 30px;
                max-width: none;

                .text-center {
                    border-bottom: 1px solid $black;
                    padding-bottom: 20px;
                }

                img {
                    width: 200px;
                    display: inline-block;
                    margin-left: auto;
                    margin-right: auto;

                    &:first-of-type { padding: 0; }
                }
            }

            .info {
                /* becomes first div */
                display: table-header-group;
                padding-bottom: 30px;
                .header-title, .rich-text {
                    padding-left: 25;
                }
                .rich-text {
                    padding: 0 25px 25px 0;
                    max-width: 100%;
                }
            }

            .second-info { padding-left: 0; }

            .second-info, logos {
                display: table;
                margin: auto;
            }
        }
    }
}
