footer#footer {
    background-image: url("grid_wht.png");
    color: $black;
    font-weight: 600;

    .row {
        margin: 20px 0 10px 0px;

        .header-title {
            font-family: $lato;
            font-size: pt-px(14);
            letter-spacing: letter-spacing(98);
            text-transform: uppercase;
            padding-bottom: 10px;
        }

        .rich-text {
            p {
                font-family: $arbutus-slab;
                font-size: pt-px(12);
                line-height: line-spacing(12, 14);


                a {
                    font-family: $lato;
                    color: $blue;
                    letter-spacing: letter-spacing(48)
                }
            }
        }

        .logos {
            border-right: 1px solid $black;
            max-width: 225px;
            img { 
                &:first-of-type { padding-bottom: 15px };
            }
        }

        .menus {
            .header-title { padding: 0; }
            .menu {
                font-family: $arbutus-slab;
                font-size: pt-px(12);
                line-height: line-spacing(12, 22);
                letter-spacing: letter-spacing(100);
                a {
                    color: $black;
                    &:hover { color: $blue; }
                }
            }
        }
    }

    @media all and (-webkit-min-device-pixel-ratio: 1.5) {
        background-image: url('grid_wht@2x.png');
    }

    @media screen and (max-width: 768px) {
        .row {
            display: table;
            padding: 0 15px 0 15px;

            .logos {
                border-right: none;
                padding-bottom: 30px;
                max-width: none;

                .text-center { 
                    border-bottom: 1px solid $black;
                    padding-bottom: 20px;
                }

                img { 
                    width: 200px;
                    display: inline-block;
                    margin-left: auto;
                    margin-right: auto; 

                    &:first-of-type { padding: 0; }
                }
            }

            .info { 
                /* becomes first div */
                display: table-header-group;
                padding-bottom: 30px; 
            } 

            .menus { text-align: center; }
        }
    }
}