#header {
    margin-bottom: 0;
    font-family: $arbutus-slab;
    color: $black;
    font-size: pt-px(12);
    letter-spacing: letter-spacing(100);
    font-weight: 500;

    .navbar {
        background: $white;
        margin-bottom: 0;
        height: $navbar-height+1;
    }

    .navbar-inverse,
    .navbar-default {

        border-color: transparent;

        .container {
            position: relative;
        }

        .navbar-brand { 
            padding: 0 2px 0 0;
            img { max-height: 100%; }
        }

        .navbar-text {
            margin-top: 8px;
            margin-bottom: 10px;
        }

        .navbar-nav {
            > li > a {
                color: $darker-grey;
                &:hover,
                &:focus {
                    span {
                        padding-bottom: 4px;
                        border-bottom: 2px solid $blue;
                    }
                }
            }

            .main-nav.dropdown { 

                &:hover, &.open:focus {
                    a.dropdown-toggle > span { border-bottom: 2px solid $blue; }
                };

                a.dropdown-toggle > span.active-parent {
                    padding-bottom: 4px;
                    border-bottom: 2px solid $blue;
                }

                ul.dropdown-menu {
                    font-family: $lato;
                    font-size: pt-px(12);
                    color: $black;
                    letter-spacing: letter-spacing(100);
                    min-width: 265px;
                    min-height: 40px;

                    li { 
                        border-bottom: 1px solid $light-grey;
                        &:last-child { border: none }; 
                    }

                    li > a { 
                        font-weight: 600;
                        padding: 20px 0 20px 40px;
                        &:hover, &:focus { color: $blue; }
                    }

                    li.active > a > span {
                        color: $blue;
                    }
                }
            }

            .open > a { background-color: $white;}

            li.main-view { display: inline-block; }
            li.no-view { display: none; }
            > li > a.fa-search { color: $blue; }

            .active {
                a {
                    background-color: transparent;
                    span {
                        padding-bottom: 4px;
                        border-bottom: 2px solid $blue;
                    }
                }
            }
        }

        .collapse.navbar-collapse.in {
            height: auto;
            background-color: $white;
            background: $white;
            overflow-x: hidden;
            border-bottom: 1px solid;
        }

        .navbar-toggle {
            margin: 6px 10px 6px 0;
            border-color: $white;
            &:hover,
            &:focus,
            &:active, {
                background-color: transparent;
                border-color: $blue;
            };

            i.fa { color: $red; }
        }

        .navbar-form { 
            border: none;
            padding-bottom: 5px;
            margin-bottom: 0px;
        }
    }
}

/*grid-float-breakpoint is at 768px */
@media (max-width: 768px) {
    #header {
        .navbar-inverse, 
        .navbar-default {
            .navbar-brand { padding-left: 10px; }
            .navbar-form { margin-top: 0; }

            .search-nav,
            .nav > li.search { display: inline-block; }

            .fa-search {pointer-events: none; }
        }
    }
}

@media (min-width: 768px) {
    .search-nav { display: none; }
    .search-nav.nav-view { display: inline-block;}
}
