#header {
    margin-bottom: 0;
    padding: 30px 0 0 0;
    font-family: $lato;
    font-weight: 400;
    height: $navbar-height;

    .navbar {
        background: $white;
        margin-bottom: 0;
        height: $navbar-height+1;
    }

    .navbar-inverse,
    .navbar-default {

        border-color: transparent;

        .container {
            position: relative;
        }

        .navbar-brand { 
            padding: 0 2px 0 0;
            img { max-height: 100%; }
        }

        .navbar-text {
            margin-top: 8px;
            margin-bottom: 10px;
        }

        .navbar-nav {
            > li > a {
                color: $darker-grey;
                &:hover,
                &:focus {
                    span {
                        padding-bottom: 4px;
                        border-bottom: 2px solid $blue;
                    }
                }
            }

            li.main-view { display: inline-block; }
            li.no-view { display: none; }
            > li > a.fa-search { color: $blue; }

            .active {
                a {
                    background-color: transparent;
                    span {
                        padding-bottom: 4px;
                        border-bottom: 2px solid $blue;
                    }
                }
            }
        }

        .collapse.navbar-collapse.in {
            height: auto;
            background-color: $white;
            background: $white;
            overflow-x: hidden;
            border-bottom: 1px solid;
        }

        .navbar-toggle {
            margin: 6px 10px 6px 0;
            border-color: $white;
            &:hover,
            &:focus,
            &:active, {
                background-color: transparent;
                border-color: $blue;
            };

            i.fa { color: $red; }
        }

        .navbar-form { 
            border: none;
            padding-bottom: 5px;
            margin-bottom: 0px;
        }
    }
}

/*grid-float-breakpoint is at 850px */
@media (max-width: 850px) {
    #header {
        .navbar-inverse, 
        .navbar-default {
            .navbar-brand { padding-left: 10px; }
            .navbar-form { margin-top: 0; }

            .search-nav,
            .nav > li.search { display: inline-block; }

            .fa-search {pointer-events: none; }
        }
    }
}

@media (min-width: 851px) {
    .search-nav { display: none; }
    .search-nav.nav-view { display: inline-block;}
}
