#header {
    margin-bottom: 0;
    font-family: $arbutus-slab;
    color: $black;
    font-size: pt-px(14);
    letter-spacing: letter-spacing(100);
    font-weight: 500;

    .navbar {
        background: $white;
        margin-bottom: 0;
        height: $navbar-height+1;
    }

    .navbar-inverse,
    .navbar-default {
        border-bottom: 1px solid $light-grey;

        .container {
            position: relative;
        }

        .navbar-brand {
            padding: 0 2px 0 0;
            line-height: $navbar-height;
            img {
                padding-left: 10px;
                max-height: 100%;
                display: inline-block;
                margin: auto;
                vertical-align: middle;
            }
        }

        .navbar-text {
            margin-top: 8px;
            margin-bottom: 10px;
        }

        .navbar-nav {
            > li > a {
                color: $darker-grey;
                &:hover,
                &:focus {
                    span {
                        padding-bottom: 4px;
                        border-bottom: 2px solid $blue;
                    }
                }
            }

            &.navbar-right { padding-right: 8%; }

            .main-nav.dropdown {

                &:hover, &.open:focus {
                    a.dropdown-toggle > span { border-bottom: 2px solid $blue; }
                };

                a.dropdown-toggle > span.active-parent {
                    padding-bottom: 4px;
                    border-bottom: 2px solid $blue;
                }

                ul.dropdown-menu {
                    font-family: $lato;
                    font-size: pt-px(12);
                    color: $black;
                    letter-spacing: letter-spacing(100);
                    min-width: 265px;
                    min-height: 40px;

                    li {
                        border-bottom: 1px solid $light-grey;
                        &:last-child { border: none };
                    }

                    li > a {
                        font-weight: 600;
                        padding: 20px 0 20px 40px;
                        &:hover, &:focus { color: $blue; }
                    }

                    li.active > a > span {
                        color: $blue;
                    }
                }
            }

            .open > a { background-color: $white;}

            li.main-view { display: inline-block; }
            li.no-view { display: none; }
            > li > a.fa-search { color: $blue; }

            .active {
                a {
                    background-color: transparent;
                    span {
                        padding-bottom: 4px;
                        border-bottom: 2px solid $blue;
                    }
                }
            }
        }

        .collapse.navbar-collapse.in {
            height: auto;
            background-color: $white;
            background: $white;
            overflow-x: hidden;
            border-bottom: 1px solid;
            max-height: none;
            overflow-y: hidden;
        }

        .navbar-toggle {
            margin: 10px 10px 6px 0;
            border-color: $white;
            float: left;
            &:hover,
            &:focus,
            &:active, {
                background-color: transparent;
            };

            i.fa {
                color: $blue;
                &.fa-times { display: none; }
            }
        }

        .navbar-form {
            border: none;
            padding-bottom: 5px;
            margin-bottom: 0px;
        }
    }
}

/*grid-float-breakpoint is at 768px */
@media screen and (max-width: 769px) {
    #header {
        .navbar-inverse,
        .navbar-default {
            .navbar-brand {
                padding-left: 10px;
                transform: translateX(-50%);
                left: 50%;
                position: absolute;
            }
            .navbar-form { margin-top: 0; }

            .search-nav,
            .nav > li.search { display: inline-block; }

            .fa-search {pointer-events: none; }

            .collapsing { display: none; }

            .collapse.navbar-collapse {
                &.in {
                    border-top: 2px solid $dark-grey;
                    .navbar-nav {
                        .main-nav > a {
                            &:hover, &:focus, &:active { border: none };
                        }
                        a:hover span, a:focus span, a:active span { border: none; }
                    }
                }

                a span.data,
                .about.main-nav a span.about-menu,
                .data-gaps.main-nav a span.data-gaps-menu {
                    font-size: pt-px(15);
                }
                span {
                    font-size: pt-px(12);
                    color: $black;
                }

                a { padding: 15px 0 15px 55px; }

                .main-nav.dropdown {
                    ul.dropdown-menu {
                        li {
                            border: none;
                            a {
                                padding-left: 85px;
                                &:hover { background-color: $light-grey; }
                            }
                        }
                    }
                }

                .about.main-nav, .main-nav.dropdown > a {
                    &:hover { background-color: $light-grey; }
                }



                i.arrow-toggle { display: none; }
            }
        }
    }
}

@media screen and (min-width: 769px) {
    .search-nav { display: none; }
    .search-nav.nav-view { display: inline-block;}
}
