/*homepage core styles*/
body.template-homepage {
    .body-content {
        color: $black;

        #moveDown {
            position: absolute;
            margin-top: 5%;
            bottom: 3%;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            cursor: pointer;
            -webkit-animation: bounce 2.75s 2.5s ease-out;
            -moz-animation: bounce 2.75s 2.5s ease-out;
            -o-animation: bounce 2.75s 2.5s ease-out;
            animation: bounce 2.75s 2.5s ease-out;
        }

        section {
            /* extra right padding for nav dots */
            padding: 0 60px 0 35px;

            h2, h3, h4, h5 { font-family: $arbutus-slab; }

            h2 > b {
                font-weight: 400;
            }

            .color-text { font-weight: 600; }

            &:not(:first-child) {
                h2, h3, h4, h5 {
                    font-size: pt-px(42);
                    line-height: line-spacing(42, 50);
                }
                .color-text {
                    font-family: $lato;
                    font-size: pt-px(42);
                    letter-spacing: letter-spacing(50);
                }
            }

            a { color: $blue; }

            .container-fluid { text-align: left; }

            .sector-title {
                max-width: 850px;
                margin: 0 auto;
                float: none;

                font-family: $lato;
                font-size: pt-px(12);
                letter-spacing: letter-spacing(100);
                font-weight: 600;

            }

            .top-story {
                .main-content {
                    .rich-text {
                        h2 { margin-top: 8px; }
                    }
                }
            }

            .main-content .rich-text {
                p {
                    font-family: $arbutus-slab;
                    font-size: pt-px(15);
                    line-height: line-spacing(15, 23);
                    -webkit-column-count: 2;
                    -moz-column-count: 2;
                    column-count: 2;
                    -webkit-column-gap: 35px;
                    -moz-column-gap: 35px;
                    column-gap: 35px;
                }
                p.no-text-row {
                    -webkit-column-count: auto;
                    -moz-column-count: auto;
                    column-count: auto;

                    padding-top: 20px;
                }
            }

            .basic-content {
                .rich-text {
                    p.no-text-row {
                        -webkit-column-count: auto;
                        -moz-column-count: auto;
                        column-count: auto;

                        padding-top: 20px;
                    }
                }
            }
        }

        .outer {
            min-height: 135px;
            max-width: 850px;
            margin-left: auto;
            margin-right: auto;

            .ts-source > span, .ts-source-full {
                border: 1px solid $light-grey;
                padding: 8px 12px 8px 12px;
                background-color: $light-grey;
            }

            .ts-source, .ts-source-full p {
                font-family: $lato;
                font-weight: 600;
                letter-spacing: letter-spacing(100);
            }

            .ts-source {
                position: absolute;
                bottom: 65px;
                font-size: pt-px(9);
                cursor: pointer;
                text-align: left;
                span {
                    max-width: 30px;
                    &:hover { color: $blue };
                }
            }

            .ts-source-full {
                display: none;
                bottom: 35px;
                margin-bottom: 20px;
                padding: 10px;
                max-width: 325px;
                font-size: pt-px(11);
                text-align: left;
                p { color: $black; }
            }

            .table {
                display: table;
            }
        }

        .sector-link {
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            bottom: 95px;

            a {
                border: 2px solid $white;
                padding: 20px;

                &:hover, &:active { text-decoration: none; }
            }

            a > .link-text {
                font-family: $lato;
                font-size: pt-px(14);
                letter-spacing: letter-spacing(50);
                font-weight: 600;

                &:hover, &:active { color: $blue; }
            }

            i.fa { color: $black; }

            .sector-circle {
                height: auto;
                width: 25%;
                max-width: 190px;
                min-width: 150px;
            }
        }

        /* sections are number delimited by a counting-loop
        and related to the order in wagtail */
        section.sec-1 {
            background-color: $blue;

            .color-text {
                color: $white;
                font-family: $lato;
                font-size: pt-px(45);
                letter-spacing: letter-spacing(50);
            }

            h2, h3, h4, h5 {
                font-size: pt-px(54);
                line-height: line-spacing(54, 64);
            }

            .container-fluid { padding-top: 35px; }
        }
        section.sec-2 {
            background-image: url("grid_wht.png");

            p {
                font-family: $arbutus-slab;
                font-size: pt-px(15);
                line-spacing: line-spacing(15, 23);
                -webkit-column-count: 2;
                -moz-column-count: 2;
                column-count: 2;
                -webkit-column-gap: 35px;
                -moz-column-gap: 35px;
                column-gap: 35px;
            }

            .four-circle {
                padding: 50px 0 40px 0;
                max-width: 850px;
                margin: auto;

                a {
                    color: $black;
                    &:hover, &:active {
                        div.text-center { color: $blue; }
                    }

                    div.text-center {
                        font-family: $lato;
                        font-size: pt-px(14);
                        letter-spacing: letter-spacing(100);
                        font-weight: 600;
                        padding: 10px 0 10px 0;
                    }
                }
            }
        }
        section.sec-3 {
            background-color: $yellow;
            p, .color-text, .link-text, .sector-title { color: $white; }
        }
        section.sec-4 {
            background-color: $grey;
            .link-text { color: $white; }
            .color-text, .sector-title { color: $dark-blue; }
        }
        section.sec-5 {
            background-color: $green;
            p, .color-text, .sector-link a, .sector-title { color: $white; }
        }
        section.sec-6 {
            background-color: $tan;
            .color-text, .sector-title { color: $dark-red; }
            .sector-link a { color: $white; }
        }
        section.sec-7 {
            background-color: $turquoise;
            .color-text, .link-text, .sector-title { color: $white; }
        }
    }

    @media screen and (max-width: 1235px) {
        .body-content {
           /* .outer {
                .sector-link {
                    a > .link-text { font-size: 1.55vw; }
                }

                .ts-source-full {
                    max-width: 250px;
                    .rich-text > p { font-size: 1.3vw; }
                }

                .ts-source {
                    font-size: 1.2vw;
                }
            }*/
        }
    }

/*    @media screen and (max-width: 1150px) {
        section.sec-1 {
            .rich-text {
                h2 { font-size: 4.9vw; }
                .color-text { font-size: 4.8vw; }
            }
        }
    }*/

    @media screen and (max-width: 1075px) {
        .body-content {
            .outer {
                .ts-source-full {
                    max-width: 210px;
                }
                .sector-link > a { padding: 15px; }
            }
            section {
                /*&:not(:first-child) {
                   h2 {
                        font-size: 4.4vw;
                    }
                    .color-text { font-size: 4.5vw; }
                }*/
            }
            section.sec-2 {
                /*.four-circle a div.text-center { font-size: 1.8vw; }*/
            }
        }
    }

    @media screen and (max-width: 950px) {
        .body-content {
            section {
                .main-content {
/*                    .rich-text {
                        p { font-size: 2vw; }
                    }*/
                }
            }
        }
    }


    @media screen and (max-width: 875px) {
        .body-content {
            .outer {

                .ts-source-full { max-width: 175px; }

                .sector-link {
                    a > .link-text { font-size: 14px; }
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .body-content {
            .outer {
                min-height: 200px;
                .sector-link { bottom: 30px; }

                .ts-source, .ts-source-full {
                    margin-left: auto;
                    margin-right: auto;
                    left: 0;
                    right: 0;
                    bottom: 80px;
                }

                .ts-source {
                    font-size: 10px;
                    text-align: center;
                }
            }

            section.sec-2 {
                .four-circle {
                    .img-responsive {
                        width: 40%;
                        min-width: 215px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 675px) {
        .body-content {
            section {
                &:not(:first-child) {
                    .main-content p, p {
                        font-size: 15px;
                        -webkit-column-count: auto;
                        -moz-column-count: auto;
                        column-count: auto;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 600px) {
        .body-content {
            section.sec-1 {
                .rich-text {
                    h2 { font-size: 27px; }
                    .color-text { font-size: 28px; }
                }
            }
            section {
                &:not(:first-child) {
                    h2, h3, h4, h5 { font-size: 26px; }
                    .color-text { font-size: 27px; }
                }
                .sector-title { font-size: 13px; }
            }
            section.sec-2 {
                .four-circle a div.text-center { font-size: 12px; }
            }
        }
    }

    @media screen and (min-width: 400px) {
        #moveDown { font-size: 2em; }
    }

    @media all and (-webkit-min-device-pixel-ratio: 1.5) {
        .body-content {
            section.sec-2 {
                background-image: url('grid_wht@2x.png');
            }
        }
    }
}
