/*homepage core styles*/
body.template-homepage {
    .body-content {
        color: $black;

        #moveDown {
            position: absolute;
            bottom: 3%;
            left: 47%;
            color: $white;
            cursor: pointer;
            -webkit-animation: bounce 2.75s 2.5s ease-out;
            -moz-animation: bounce 2.75s 2.5s ease-out;
            -o-animation: bounce 2.75s 2.5s ease-out;
            animation: bounce 2.75s 2.5s ease-out;
        }

        section {
            /* extra right padding for nav dots */
            padding: 0 60px 0 35px;

            h2 { font-family: $arbutus-slab; }

            h2 > b {
                font-weight: 400;
            }

            .color-text { font-weight: 600; }

            &:not(:first-child) {
                h2 {
                    font-size: pt-px(42);
                    line-height: line-spacing(42, 50);
                }
                .color-text {
                    font-family: $lato;
                    font-size: pt-px(42);
                    letter-spacing: letter-spacing(50);
                }
            }

            a { color: $blue; }

            .container-fluid { text-align: left; }

            .main-content .rich-text {
                p {
                    font-family: $arbutus-slab;
                    font-size: pt-px(15);
                    line-height: line-spacing(15, 23);
                    -webkit-column-count: 2;
                    -moz-column-count: 2;
                    column-count: 2;
                    -webkit-column-gap: 35px;
                    -moz-column-gap: 35px;
                    column-gap: 35px;
                }
            }

            .basic-content {
                .rich-text {
                    p.no-text-row {
                        -webkit-column-count: auto;
                        -moz-column-count: auto;
                        column-count: auto;

                        padding-top: 20px;
                    }
                }
            }

            .economic-calculator {
                margin-top: 30px;

                .calc-title {
                    font-family: $lato;
                    font-size: pt-px(12);
                    line-height: line-spacing(12, 18);
                    font-weight: 600;
                    margin-bottom: 15px;
                }

                table {
                    width: 75%;
                    margin-left: auto;
                    margin-right: auto;

                    td#inputCol, td#resultCol {
                        width: 9em;
                    }

                    input, .equal-sign {
                        font-size: pt-px(30);
                        font-weight: 600;
                    }

                    input {
                        height: 75px;
                        width: 8em;
                        padding-left: 10px;
                    }

                    #input-caption, #result-caption {
                        padding-top: 10px;
                        font-family: $arbutus-slab;
                    }
                }

            }
        }

        .outer { 
            height: 300px; 

            .ts-source > span, .ts-source-full {
                border: 1px solid $light-grey;
                padding: 5px;
                background-color: $light-grey;
            }

            .ts-source, .ts-source-full p {
                font-family: $lato;
                font-weight: 600;
                letter-spacing: letter-spacing(100);
            }
        
            .ts-source {
                position: absolute;
                bottom: 20px;
                font-size: pt-px(9);
                cursor: pointer;
                text-align: left;
                span { max-width: 30px; }
            }

            .ts-source-full {
                display: none;
                bottom: 35px;
                margin-bottom: 20px;
                padding: 10px;
                max-width: 325px;
                p { 
                    font-size: pt-px(11);
                    text-align: left;
                    color: $black;
                }
            }

            .table {
                display: table;
            }
        }

        .sector-link {
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            bottom: 70px;

            a {
                border: 2px solid $white;
                padding: 20px;

                &:hover, &:active { text-decoration: none; }
            }

            a > .link-text {
                font-family: $lato;
                font-size: pt-px(14);
                letter-spacing: letter-spacing(50);
                font-weight: 600;

                &:hover, &:active { color: $blue; }
            }

            i.fa { color: $black; }

            .sector-circle {
                height: auto;
                width: 25%;
                max-width: 190px;
                min-width: 150px;
            }
        }

        /* sections are number delimited by a counting-loop
        and related to the order in wagtail */
        section.sec-1 {
            background-color: $blue;

            .color-text {
                color: $white;
                font-family: $lato;
                font-size: pt-px(45);
                letter-spacing: letter-spacing(50);
            }

            h2 {
                font-size: pt-px(54);
                line-height: line-spacing(54, 64);
            }

            .no-text-row {
                img.img-responsive { width: 35%;}
            }
        }
        section.sec-2 {
            background-image: url("grid_wht.png");

            p {
                font-family: $arbutus-slab;
                font-size: pt-px(15);
                line-spacing: line-spacing(15, 23);
                -webkit-column-count: 2;
                -moz-column-count: 2;
                column-count: 2;
                -webkit-column-gap: 35px;
                -moz-column-gap: 35px;
                column-gap: 35px;
            }

            .four-circle { 
                padding-top: 50px;

                a {
                    &:hover, &:active { 
                        div.text-center { color: $blue; }
                    }

                    div.text-center { 
                        font-family: $lato;
                        font-size: pt-px(14);
                        letter-spacing: letter-spacing(100);
                        font-weight: 600;
                        padding: 10px 0 10px 0;
                    }
                }
            }
        }
        section.sec-3 {
            background-color: $yellow;
            p, .color-text, .link-text { color: $white; }
        }
        section.sec-4 {
            background-color: $grey;
            .link-text { color: $white; }
            .color-text { color: $dark-blue; }
        }
        section.sec-5 {
            background-color: $green;
            p, .color-text, .sector-link a { color: $white; }
        }
        section.sec-6 {
            background-color: $tan;
            .color-text, { color: $dark-red; }
        }
        section.sec-7 {
            background-color: $turquoise;
            .color-text, .link-text { color: $white; }
        }
    }
    
    @media (max-width: 1235px) {
        .body-content {
            .outer {
                .sector-link {
                    a > .link-text { font-size: 1.55vw; }
                }

                .ts-source-full {
                    max-width: 250px;
                    .rich-text > p { font-size: 1.3vw; }
                }

                .ts-source {
                    font-size: 1.2vw;
                }
            }
        }
    }

    @media (min-width: 1300px) {
        section {
            .economic-calculator {
                table {
                    input#inputCalc, input#result {
                        width: 10em;
                        height: 90px;
                    }
                }
            }
        }
    }

    @media (min-width: 1200px) and (max-width: 1299px) {
        section {
            .economic-calculator {
                table {
                    input#inputCalc, input#result {
                        width: 9em;
                    }
                }
            }
        }
    }

    @media (max-width: 1075px) {
        .body-content {
            .outer {
                .ts-source-full {
                    max-width: 210px;
                }
                .sector-link > a { padding: 15px; }
            }
            section.sec-1 {
                .rich-text {
                    h2 { font-size: 4.9vw; }
                    .color-text { font-size: 4.8vw; }
                }
            }
            section {
                &:not(:first-child) {
                   h2 { 
                        font-size: 4.4vw;
                    }
                    .color-text { font-size: 4.5vw; }

                    p { font-size: 2.2vw; }

                    .main-content {
                        p { font-size: 2vw; }
                    }
                }

                .economic-calculator {

                    table {
                        .equal-sign { font-size: pt-px(25) };
                        input#inputCalc, input#result {
                            width: 7em;
                            height: 55px;
                        }
                    }
                }
            }
            section.sec-2 {
                .four-circle a div.text-center { font-size: 1.8vw; }
            }
        }
    }


    @media (max-width: 875px) {
        .body-content {
            .outer { 

                .ts-source-full { max-width: 185px; } 

                .sector-link {
                    a > .link-text { font-size: 13px; }
                }
            }

            section {
                .economic-calculator {
                    table {
                        width: auto;
                        input#inputCalc, input#result {
                            width: 6em;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .body-content {
            .outer {

                .sector-link { bottom: 30px; }

                .ts-source, .ts-source-full {
                    margin-left: auto;
                    margin-right: auto;
                    left: 0;
                    right: 0;
                    bottom: 80px;
                }

                .ts-source { 
                    font-size: 10px; 
                    text-align: center;
                }

                .ts-source-full {
                    
                }
            }
        }
    }

    @media (max-width: 600px) {
        .body-content {
            section.sec-1 {
                .rich-text {
                    h2 { font-size: 27px; }
                    .color-text { font-size: 28px; }
                }
            }
            section {
                &:not(:first-child) {

                    h2 { font-size: 26px; }

                    .color-text { font-size: 27px; }

                    .main-content p, p { 
                        font-size: 15px;
                        -webkit-column-count: auto;
                        -moz-column-count: auto;
                        column-count: auto;
                    }
                }

                .economic-calculator {
                    table {
                        input#inputCalc, input#result {
                            width: 4em;
                        }
                    }
                }
            }
            section.sec-2 {
                .four-circle a div.text-center { font-size: 12px; }
            }
        }
    }

    @media (min-width: 400px) {
        #moveDown { font-size: 2em; }
    }

    @media all and (-webkit-min-device-pixel-ratio: 1.5) {
        .body-content {
            section.sec-2 {
                background-image: url('grid_wht@2x.png');
            }
        }
    }
}
