/*homepage core styles*/
body.template-homepage {
    .body-content {

        #moveDown {
            position: absolute;
            bottom: 5px;
            left: 50%;
            color: $white;
            cursor: pointer;
            -webkit-animation: bounce 2.75s 2.5s ease-out;
            -moz-animation: bounce 2.75s 2.5s ease-out;
            -o-animation: bounce 2.75s 2.5s ease-out;
            animation: bounce 2.75s 2.5s ease-out;
        }

        section {
            /* extra right padding for nav dots */
            padding: 0 60px 0 35px;

            h2 {
/*                font-size: calc(0.75em + 4vmin);
                line-height: 1.4;*/
                font-family: $arbutus-slab;
            }

            &:not(:first-child) {
                h2 {
                    font-size: 42pt;
                    line-height: 50pt;
                }
                .color-text {
                    font-family: $lato;
                    font-size: 42pt;
                    letter-spacing: 5pt;
                }
            }

            a { color: $blue; }

            .container-fluid { text-align: left; }

            .rich-text {
                p {
/*                    font-size: calc(0.5em + 1.25vmin);*/
                    font-family: $lato;
                    font-size: 15pt;
                    line-height: 23pt;
                    -webkit-column-count: 2;
                    -moz-column-count: 2;
                    column-count: 2;
                    -webkit-column-gap: 35px;
                    -moz-column-gap: 35px;
                    column-gap: 35px;
                }
            }

            .basic-content {
                .rich-text {
                    p.no-text-row {
                        -webkit-column-count: auto;
                        -moz-column-count: auto;
                        column-count: auto;

                        padding-top: 20px;
                    }
                }
            }
        }

        .outer { height: 300px; }

        .sector-link {
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            bottom: 45px;

            a {
                border: 1px solid $white;
                padding: 10px;

                &:hover, &:active { text-decoration: none; }
            }

            a > .link-text {
                font-family: $lato;
                font-size: 14px;
                letter-spacing: 2px;
                font-weight: 600;

                &:hover, &:active { color: $blue; }

                /*font-size: calc(0.7em + 1.25vmin);*/
            }

            i.fa { color: $black; }

            .sector-circle {
                height: auto;
                width: 25%;
                max-width: 190px;
                min-width: 150px;
            }
        }

        /* sections are number delimited by a counting-loop
        and related to the order in wagtail */
        section.sec-1 {
            background-color: $blue;

            .color-text {
                color: $white;
                font-family: $lato;
                font-size: 45pt;
                letter-spacing: 5pt;
            }

            h2 {
                font-size: 54pt;
                line-height: 64pt;
            }
        }
        section.sec-2 {
            background-image: url("grid_wht.png");
            h2 {
                font-size: 42pt;
                line-height: 50pt;
            }

            p {
                font-family: $arbutus-slab;
                font-size: 15pt;
                line-spacing: 2pt;
            }

            .four-circle { 
                padding-top: 50px;

                a {
                    &:hover, &:active { 
                        div.text-center { color: $blue; }
                    }

                    div.text-center { 
                        font-family: $lato;
                        font-size: 10pt;
                        font-weight: 600;
                        color: $black;
                    }
                }
            }
        }
        section.sec-3 {
            background-color: $yellow;
            p, .color-text, .link-text { color: $white; }
        }
        section.sec-4 {
            background-color: $darker-grey;
            .color-text { color: $dark-blue; }
        }
        section.sec-5 {
            background-color: $green;
            p, .color-text, .sector-link a { color: $white; }
        }
        section.sec-6 {
            background-color: $tan;
            .color-text, { color: $dark-red; }
        }
    }

    @media (max-width: 800px) {
        .body-content {
            .sector-link {
                bottom: 15px;
                a > .link-text {
                    display: block;
                    font-size: 2.2vw;
                }
            }

            .outer { height: 225px; }
        }
    }

    @media (max-width: 650px) {
        .body-content {
            .sector-link {
                a > .link-text { font-size: 15px; }
            }
        }
    }

    @media (min-width: 400px) {
        #moveDown { font-size: 2em; }
    }
}
