/*fonts*/
@import url(https://fonts.googleapis.com/css?family=Arbutus+Slab);
@import url(https://fonts.googleapis.com/css?family=Lato);
$arbutus-slab: 'Arbutus Slab', serif;
$lato: 'Lato', sans-serif;

/*colors*/
$white: #FFF;
$grey: #58595B;
$gray: $grey;
$light-grey: #E7E6E5;
$light-gray: $light-grey;
$blue: #1DAFEC;
$red: #EF1725;
$dark-red: #99242A;
$orange: #FDB031;
$green: #84BC48;
$turquoise: #84BBA0;
$brown: #603917;
$off-brown: #5A4A42;

/*sizes*/
$med-reg: 22px;

/*core*/
$navbar-height: 55px;
