/*fonts*/
@import url(https://fonts.googleapis.com/css?family=Arbutus+Slab);
@import url(https://fonts.googleapis.com/css?family=Lato:400,900);
$arbutus-slab: 'Arbutus Slab', serif;
$lato: 'Lato', serif;

/*colors*/
$white: #FFF;
$grey: #C9C9C9;
$gray: $grey;
$light-grey: #E7E6E5;
$light-gray: $light-grey;
$dark-grey: #E0E0DF;
$dark-gray: $dark-grey;
$darker-grey: #464749;
$darker-gray: $darker-grey;
$blue: #28A8E0;
$dark-blue: #185377;
$red: #E82128;
$dark-red: #95272A;
$orange: #FDB031;
$green: #83B841;
$turquoise: #84BBA0;
$brown: #603A17;
$off-brown: #5B4B43;
$tan: #E4D8C5;
$black: #000000;
$yellow: #F6AB1B;

/*sizes*/
$med-reg: 22px;

@function pt-px($pt-size) {
    @return ($pt-size/0.75)+px;
}

@function line-spacing($pt-size, $line-size) {
    @return ($line-size/$pt-size);
}

@function letter-spacing($pt-size) {
    @return ($pt-size/1000)+em;
}

/*core*/
$navbar-height: 60px;
$grid-float-breakpoint: 768px;

