/*fonts*/
@import url(https://fonts.googleapis.com/css?family=Arbutus+Slab);
@import url(https://fonts.googleapis.com/css?family=Lato:400,900);
$arbutus-slab: 'Arbutus Slab', serif;
$lato: 'Lato', serif;

/*colors*/
$white: #FFF;
$grey: #58595B;
$gray: $grey;
$light-grey: #E7E6E5;
$light-gray: $light-grey;
$dark-grey: #E0E0DF;
$dark-gray: $dark-grey;
$darker-grey: #464749;
$darker-gray: $darker-grey;
$blue: #1DAFEC;
$dark-blue: #375476;
$red: #EF1725;
$dark-red: #99242A;
$orange: #FDB031;
$green: #84BC48;
$turquoise: #84BBA0;
$brown: #603917;
$off-brown: #5A4A42;
$tan: #E0D7C4;
$black: #000000;
$yellow: #E7AB30;

/*sizes*/
$med-reg: 22px;

@function pt-px($pt-size) {
    @return ($pt-size/0.75)+px;
}

@function line-spacing($pt-size, $line-size) {
    @return ($line-size/$pt-size);
}

@function letter-spacing($pt-size) {
    @return ($pt-size/1000)+em;
}

/*core*/
$navbar-height: 60px;
$grid-float-breakpoint: 768px;

