iframe#wagtail-userbar {
    height: 140px !important;
    bottom: 0;
    top: auto;
}

ul.sequence {
    li.sequence-member { border: 1px dashed #5AA1A1; }
}

@media (max-width: 768px) {
    iframe#wagtail-userbar { display: none; }
}