{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-datapage{% endblock %}

{% block content %}
  <p>
  {% for ancestor in self.get_ancestors %}
    {% if not ancestor.title == 'Root' %}
      <a href="{% for grandcestor in ancestor.get_ancestors %}{% if forloop.first %}/{% endif %}{% if not grandcestor.title == 'Root' %}{% if not grandcestor.content_type.name == 'home page' %}{{ grandcestor.slug }}/{% endif %}{% endif %}{% endfor %}{% if not ancestor.content_type.name == 'home page' %}{{ ancestor.slug }}{% endif %}">
        {% if ancestor.content_type.name == 'home page'%}
          Home
        {% else %}
          {{ ancestor.title }}
        {% endif %}
      </a>
      {% if not forloop.last %}
        >
      {% endif %}
    {% endif %}
  {% endfor %}
  </p>

  <h1>Indicator: {{ page.title }}</h1>

    {{ page.displayTitle|richtext }}

    {{ page.sub_title|richtext }}

    {{ page.main_content|richtext }}

    {% image page.image min-100x100 %}

  <h2>MEASURES:</h2>
  <ul>
  {% for measure in self.get_children %}
    {% if measure.content_type.name == "Core Measure"  %}
      <li><a href="{{ measure.slug }}">{{ measure.title }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
  <h2>RECOMMENDATIONS:</h2>
  <ul>
  {% for recommendation in self.get_children %}
    {% if recommendation.content_type.name == "Recommendation" %}
    <li><a href="{{ recommendation.slug }}">{{ recommendation.title }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>

{% endblock %}
